*{
    margin: 0;
    padding: 0;
    font-family: Helvetica;
}

body{
    background-color: #09090b;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container{
    box-sizing: border-box;
    background-color:#18181b ;
    text-align: center;
    padding: 50px 40px;
    border-radius: 20px;
    margin: 30px;
}

.img-container{
    width: 100%;
    max-width: 120px;
    margin: auto;
    padding-bottom: 20px;
}

.img-container img{
    width: 100%;
    border-radius: 50%;
}

.intro h1{
    color: #e4e4e7;
    font-weight: 700;
    padding-bottom: 5px;
}

.location{
    color: #facc15;
    font-size: 18px;
    padding-bottom: 25px;
}

.description{
    font-size: 17px;
    color: #a1a1aa;
    padding-bottom: 20px;
}

.links a{
    display: block;
    text-decoration: none;
    margin: auto;
    margin-bottom: 10px;
    color: #e4e4e7;
    background-color: #3f3f46;
    padding: 13px 0px;
    border-radius: 6px;
    transition: 0.5s background-color;
    font-weight: 600;
    max-width: 400px;
}

.links a:hover{
    background-color: #d1a806;
    color: black;
}

@media (max-width:400px){
    .container{
        margin: 10px;
        padding: 40px 30px;
        border-radius: 20px;
    }

    .intro h1{
        font-size: 25px;
    }

    .location ,.description{
        font-size: 15px;
    }

    .links a{
        max-width: 300px;
    }
}

@media (max-width:470px){
    .intro h1{
        font-size: 26px;
    }

    .location{
        font-size: 15px;
    }
}